.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
  text-align: left;
  padding-left: 40px;
}

.search-header{
  margin: 10px;
}